terraform/.terraform
terraform/.debug.sh
terraform/terraform.tfstate.backup
terraform/*.tfstate
terraform/.tfvars
terraform/.tfvars.json
terraform/*.tmpl
ansible/vm.json
ansible/inventory.yaml
ansible/secrets.yml
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
.vscode
docs
scripts
DOC*.md
docs.md
